/* CSS Document */

body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    /*    zorgt voor geen witruimte om de li's'*/
}

/* navigatie */

header nav {
    background-color: #1D1D1F;

}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /*    zorgt ervoor dat ze onder elkaar staan, flex*/
}

header nav li {
    min-width: 6em;
    flex-grow: 1;
    /*    Dit vult de li is helemaal op*/
}



header nav a {
    display: block;
    line-height: 2.5em;
    text-align: center;
    margin-top: 1em;
    /*    basis opmaak*/
}

.applelogo {
    width: 25px;
}

.menulogo {
    width: 25px;
    margin-left: -4.5em;
    margin-bottom: .3em;
}

.shoplogo {
    width: 20px;
    height: 25px;
    margin: auto 0;
}

#shoppingbag {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

/*zorgt voor standaar grote pngs*/

/* MAIN */

main {
    margin: 0 30px;
}

main h1 {
    text-align: left;
    font-size: 24px;
    color: black;
    background-color: b;
    font-weight: normal;
    line-height: 1.6em;
    position: relative;

    /*standaar opmaak*/
}

main p {
    position: absolute text-align: left;
    font-size: 14px;
    color: black;
    font-weight: lighter;
    line-height: 1.6em;
    margin: 0px 0px 40px 0px;
}

#meld {

    background-color: #0071E3;
    height: 2.5em;
}

#door {

    background-color: darkgray;
    height: 2.5em;
    margin:
}

button {
    font-size: 24px;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    display: block;
    margin: auto;
    width: 100%;
    margin: 20px 0px;
    max-width: 400px;
}

#section-help {
    border-bottom: 2px solid #d2d2d7;
    border-top: 1px solid #d2d2d7;

}

section p {
    margin: 25px auto;
    width: 75%;
}



@media only screen and (min-width:620px) {

    .listItem {
        margin: 15%;
        text-align: center;
    }
    .buttonmain {
        display: flex;

    }
    button#door {
        margin-left: 1%;
    }
    button#meld {
        margin-right: 1%;
    }
    main {
        width: 75%;
        margin: 0 auto;
    }

}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.listItem {
    position: absolute;
    margin-left: 5%;

}

ul.listContainer {
    margin-block-start: 0em;
    padding-inline-start: 0;
    width: 95%;
    margin: 20px auto;
}

a {
    position: relative;

    color: seagreen;

    text-decoration: none;
    outline: none;

}

a::before {
    content: "";
    background-color: currentcolor;

    position: absolute;

    left: .5em;
    right: .5em;
    bottom: -.25em;

    height: .25em;

    border-radius: .125em;

    transform: scalex(0);
    transition: .3s;
}

a:hover::before {
    transform: scalex(1);
}


a:visited {
    color: DarkSlateBlue;
}

a:focus {
    /* het is best een goed idee om de :focus van een link te laten opvallen */
    /* als je met de tab-toets door een pagina gaat, zie je dan goed waar je elke keer geland bent */
    background: LightYellow;
    /*   color:blue */
    /* meer - zie ::after */
}

a:hover {
    /* nada - zie ::after */
}

a:active {
    /* als alles lekker snel gaat zie je dit niet */
    /* maar des te meer reden om de :active state wel te definieren */
    /* juist als iets traag verloopt, krijg je dan feedback */
    color: crimson;
}

a::after {
    /*   content:"";
  position:absolute;
  left:.25em; bottom:-3px;
  width:calc(100% - .5em); height:4px;
  background-color:currentcolor;
  border-radius:2px;
  transform:scalex(0);
  transition:.25s; */
}

a:focus::after,
a:hover::after {
    /*   transform:scalex(1); */
}
